<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>SwanSong</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>ws</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>WonderSwan ROM</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>games.swansong.wonderswan-rom</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>wsc</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>WonderSwan Color ROM</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>games.swansong.wonderswan-color-rom</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>pc2</string>
                <string>pcv2</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>Pocket Challenge V2 Program</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>games.swansong.pocket-challenge-v2-program</string>
            </array>
        </dict>
    </array>
	<key>CFBundleExecutable</key>
	<string>SwanSong</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
    <key>CFBundleIdentifier</key>
    <string>games.swansong.macos</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>SwanSong</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 SwanSong contributors.</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.games</string>
    <key>LSApplicationSupportsSecureRestorableState</key>
    <true/>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeDescription</key>
            <string>WonderSwan ROM</string>
            <key>UTTypeIdentifier</key>
            <string>games.swansong.wonderswan-rom</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>ws</string>
                </array>
            </dict>
        </dict>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeDescription</key>
            <string>WonderSwan Color ROM</string>
            <key>UTTypeIdentifier</key>
            <string>games.swansong.wonderswan-color-rom</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>wsc</string>
                </array>
            </dict>
        </dict>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeDescription</key>
            <string>Pocket Challenge V2 Program</string>
            <key>UTTypeIdentifier</key>
            <string>games.swansong.pocket-challenge-v2-program</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>pc2</string>
                    <string>pcv2</string>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist>
